<div class="game">
  {{ selectedWord }}
  <p>Word Length: {{ wordLength }}</p>
  <div [formGroup]="gameBoard" class="game-board">
    <div formArrayName="rows">
      <div *ngFor="let row of getRowsAsArray.controls; let r = index" [formGroupName]="r" class="row">
             <input
               *ngFor="let control of getRow(r).controls | keyvalue; let c = index"
               type="text"
               [formControlName]="control.key"
               maxlength="1"/>
           </div>
    </div>
  </div>
</div>
