<div class="white-space" (click)="this.close.emit()"></div>
<div class="sidebar">
  <h1 class="page-title">Settings</h1>

  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="settings-form">
    <div class="mute-container">
      <img [src]="muteUnmuteImage()" (click)="toggleVolume()" class="mute-image"/>
    </div>
    <div class="form-group">
      <label for="volume">Game Volume: {{ settingsForm.value.volume }}</label>
      <input id="volume" type="range" formControlName="volume" min="0" max="100" class="range-input"/>
    </div>

    <!-- <div class="form-group inline">
      <label for="darkMode">Light/Dark Mode:</label>
      <input id="darkMode" type="checkbox" formControlName="darkMode" class="checkbox-input"/>
      <span class="mode-label">
        {{ settingsForm.value.darkMode ? 'I said it was Coming Soon' : 'Coming Soon' }}
      </span>
    </div> -->

    <div class="form-group">
      <label for="lettersPerWord">Letters per word:</label>
      <input id="lettersPerWord" type="number" formControlName="lettersPerWord" min="3" max="8" class="number-input"/>
      @if (settingsForm.get('lettersPerWord')?.errors?.['required']) {
        <div class="error">Letters per word can not be left blank</div>
      } @else if (settingsForm.get('lettersPerWord')?.errors?.['min']) {
        <div class="error">Number of letters has to be greater than 2</div>
      } @else if (settingsForm.get('lettersPerWord')?.errors?.['max']) {
        <div class="error">Number of letters has to be less than 8</div>
      }
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="settingsForm.invalid || sameSettings()">
      Save Settings
    </button>
    <button type="button" class="link-btn" (click)="close.emit()">Close</button>
  </form>
</div>

